<div class="panel panel-default">
	<nav class="navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navbar-collapse-target">
				<span class="sr-only">Switch Navigation</span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-target">

			<div class="navbar-form navbar-right">
				<a (click)="onCancel()" class="btn" data-toggle="tooltip"
					title="Cancel"><span>Cancel</span></a>
			</div>
			<div *ngIf="action!=='view'" class="navbar-form navbar-right">
				<a (click)="onSave()" class="btn" data-toggle="tooltip" title="Save"><span>Save</span></a>
			</div>
		</div>
	</nav>


	<div style="margin: 10px;">
		<form class="form-horizontal">
			<div *ngIf="action==='create'" class="form-group">
				<div class="col-sm-offset-3 col-sm-9"> <h3>Create New Company</h3> </div>
			</div>
			<div *ngIf="action==='view'" class="form-group">
				<div class="col-sm-offset-3 col-sm-9"> <h3>{{Name}} Basic Information</h3> </div>
			</div>

			<div *ngIf="action!=='create'" class="form-group">
				<label class="col-sm-3 control-label" for="companyid">Company ID</label>
				<div class="col-sm-9">
					<input [disabled]="action !=='create'" type="text" class="form-control" name="companyid" [ngModel]="id">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="companyName">Company Name</label>
				<div class="col-sm-9">
					<input [disabled]="action !=='create'" type="text" class="form-control" name="companyName" placeholder="Company Name" [(ngModel)]="name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="companyDescription">Company Overview</label>
				<div class="col-sm-9">
					<textarea (change)="onValueChanged()" class="form-control" rows="3" name="companyDescription" [(ngModel)]="description"></textarea>
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label" for="logoFile">Company LOGO</label>
				<div class="col-sm-9">
					<input type="file" (change)="onChangeSelectFile($event)">
					<p class="help-block">Upload company logo</p>
				</div>
			</div>
			<div *ngIf="HeadPortrait" class="form-group" id="localImg">
				<div class="col-sm-offset-3 col-sm-9">
					<img (load)="onLoadImage()" class="img-rounded" style="width: 200px;" id="previewImg" [src]="imageUrl" alt="...">
				</div>
			</div>

			<!-- <div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-default" (click)="onClick('submit')">Submit</button>
					<button type="button" class="btn btn-default" (click)="onClick('cancel')">Cancel</button>
				</div>
			</div> -->

		</form>

	</div>
</div>
