<div class="panel panel-default">
	<nav class="navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navbar-collapse-target">
				<span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-target">
			<form class="sidebar-form navbar-form navbar-right">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" class="btn btn-flat">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			 <div class="navbar-form navbar-right">
				<a (click)="createRole()" class="btn" data-toggle="tooltip" title="add"><span>新建&nbsp;</span><i class="fa fa-plus"></i></a>
			</div>
		    <div class="navbar-form navbar-right">
				<a (click)="refresh()" class="btn" data-toggle="tooltip" title="refresh"><span>刷新&nbsp;</span><i class="fa fa-refresh"></i></a>
			</div>
		</div>
	</nav>
</div>

 <div class="chart" id="basic-example"></div>