<div class="panel panel-default">
	<app-header-navigation [sName]="sPageName"></app-header-navigation>
	<div class="messaging">
		<div class="inbox_msg">
			<div class="inbox_people">
				<div class="headind_srch">
					<div class="recent_heading">
						<h4>Contact</h4>
					</div>
					<div class="srch_bar">
			                <app-search [bVisibleSearch]="true"></app-search>
					</div>
				</div>
				<div class="inbox_chat">
				    <div *ngFor="let user of aUsers" class="chat_list" [ngClass]="{'active_chat':user.username === oSelectedUser.username}">
				    		<div class="chat_people"  (click)="onSelectUser(user)">
							<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
							<div class="chat_ib">
								<h5>{{user.fullname}}  <span *ngIf="user.unreadMsg > 0" class="chat_date label label-danger">{{user.unreadMsg}}</span> </h5>
								<p> {{user.username}}</p>
								 
							</div>
						</div>
				    </div>
					
				</div>
			</div>
			<div  class="mesgs">
				<div id = "idMessageHistory" class="msg_history">
					<div *ngFor="let message of aMessages">
						<div *ngIf="message.receiver!==oSelectedUser.username">
							<div class="incoming_msg">
								<div class="incoming_msg_img">
									<img src="https://ptetutorials.com/images/user-profile.png"
										alt="sunil">
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										<p>{{message.content}}</p>
										<span class="time_date"> {{message.createdDate}}</span>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="message.receiver===oSelectedUser.username">
							<div class="outgoing_msg">
								<div class="sent_msg">
									<p>{{message.content}}</p>
									<span class="time_date"> {{message.createdDate}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="type_msg">
					<div class="input_msg_write">
						<input type="text" class="write_msg" placeholder="Type a message" (keydown)="onKeydown($event)" [disabled]="oSelectedUser.username==''" [(ngModel)]="sMessage"/>
						<button class="msg_send_btn" type="button" [disabled]="oSelectedUser.username==''" (click)="onSendMsg(sMessage)">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>